<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<meta charset="UTF-8" />
	<title>UNLa</title>
	<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>

<body>
		<header th:fragment="header">
			<header th:fragment="header">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="/index">UNLa</a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
						data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav ml-auto">

							<li class="nav-item">
								<a class="nav-link" href="/usuarios/lista">Usuarios </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/perfiles/lista">Perfiles</a>
							</li>
							
							<li class="nav-item">
						<a class="nav-link" sec:authorize="hasAnyAuthority('Auditor', 'Administrador')"
							th:href="@{/departamento/lista/}">Departamentos</a>
					       </li>
					       <li class="nav-item">
					       <li class="nav-item">
								<a class="nav-link" sec:authorize="hasAnyAuthority('Auditor', 'Administrador')"
								th:href="@{/espacios/lista/}">Espacios</a>
							</li>
								<a class="nav-link" sec:authorize="hasAnyAuthority('Auditor', 'Administrador')"
									th:href="@{/nota-pedido}">Pedidos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logout">Cerrar sesion</a>
							</li>

					</div>
					</li>
					</ul>
					</div>
				</nav>
				<div class="alert alert-success alert-dismissable" th:if="${success != null}">
					<label th:text="${success}"></label>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
				<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
					<label th:text="${error}"></label>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
			</header>
		</header>

	<div class="container">
		<h1 th:text="${titulo}"></h1>
	</div>

	<div class="container">
		
		<div class="container">
			<h3 th:text="${tituloTradicional}"></h3>
		</div>
		<a class="btn btn-primary btn-sm" sec:authorize="hasAuthority('Administrador')" th:href="@{/aulas/crear/tradicional}"
			th:text="'Crear Aula'" title="Crear nueva aula"></a><p></p>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Edificio</th>
					<th scope="col">N° Aula</th>
					<th scope="col">Cantidad de bancos</th>
					<th scope="col">Tipo de pizarron</th>
					<th scope="col">Proyector</th>
					<th scope="col" sec:authorize="hasAuthority('Administrador')">Editar</th>
					<th scope="col" sec:authorize="hasAuthority('Administrador')">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="at:${aulasTradicional}">

					<th scope="row" th:text="${at.edificio.edificio_name}"></th>
					<th scope="row" th:text="${at.numero}"></th>
					<th scope="row" th:text="${at.cantBancos}"></th>
					<th scope="row" th:text="${at.pizarron}"></th>
					<th scope="row" th:if="${at.tieneProyector == true}" th:text="Si"></th>
					<th scope="row" th:if="${at.tieneProyector == false}" th:text="No"></th>
					
					<td sec:authorize="hasAuthority('Administrador')">
						<a class="btn btn-success btn-sm" th:href="@{/aulas/lista/edit/}+${at.id}" th:text="Editar"
							title="Editar registro">
						</a>
					</td>
					
					<td sec:authorize="hasAuthority('Administrador')"><a
						class="btn btn-danger btn-sm"
						th:href="@{/aulas/lista/delete/}+${at.id}" th:text="Eliminar"
						title="Eliminar aula"
						onclick="return confirm('Esta seguro de eliminar aula?');">
					</a></td>

				</tr>

			</tbody>
		</table>

		<div class="container">
			<h3 th:text="${tituloLaboratorio}"></h3>
		</div>
		<a class="btn btn-primary btn-sm" sec:authorize="hasAuthority('Administrador')" th:href="@{/aulas/crear/laboratorio}"
			th:text="'Crear Aula'" title="Crear nueva aula"></a><p></p>
				<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Edificio</th>
					<th scope="col">N° Aula</th>
					<th scope="col">Cantidad de computadoras</th>
					<th scope="col">Cantidad de sillas</th>
					<th scope="col" sec:authorize="hasAuthority('Administrador')">Editar</th>
					<th scope="col" sec:authorize="hasAuthority('Administrador')">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="al:${aulasLaboratorio}">

					<th scope="row" th:text="${al.edificio.edificio_name}"></th>
					<th scope="row" th:text="${al.numero}"></th>
					<th scope="row" th:text="${al.cantPC}"></th>
					<th scope="row" th:text="${al.cantSillas}"></th>
					
					<td sec:authorize="hasAuthority('Administrador')">
						<a class="btn btn-success btn-sm" th:href="@{/aulas/lista/edit/}+${al.id}" th:text="Editar"
							title="Editar registro">
						</a>
					</td>

					<td sec:authorize="hasAuthority('Administrador')"><a
						class="btn btn-danger btn-sm"
						th:href="@{/aulas/lista/delete/}+${al.id}" th:text="Eliminar"
						title="Eliminar espacio"
						onclick="return confirm('Esta seguro de eliminar el aula?');">
					</a></td>

				</tr>

			</tbody>
		</table>
	</div>


	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
		<div class="container">
			<p>GRUPO 18</p>
		</div>

		<script type="text/javascript" th:src="@{vendor/bootstrap/jquery/jquery.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{vendor/bootstrap/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
	</footer>

</body>

</html>