<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
<meta charset="UTF-8" />
<title>Consultorio</title>
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-info">
			<a class="navbar-brand" href="/index">
    	    <img src="/images/consultorios.png" width="58" height="45" alt="">
  		   </a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">

			<li class="nav-item">
						<a class="nav-link" sec:authorize="hasAuthority('Administrador')"
							th:href="@{/usuarios/lista/}">Usuarios</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" sec:authorize="hasAuthority('Administrador')"
							th:href="@{/perfiles/lista/}">Perfiles</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" sec:authorize="hasAuthority('Administrador')"
							th:href="@{/paciente/lista/}">Pacientes</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" sec:authorize="hasAuthority('Administrador')"
							th:href="@{/especialidad/lista/}">Especialidad</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" sec:authorize="hasAuthority('Administrador')"
							th:href="@{/especialista/lista/}">Especialista</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" sec:authorize="hasAnyAuthority('Auditor', 'Administrador')"
							th:href="@{/turno/lista/}">Turnos</a>
					</li>

					<li class="nav-item"><a class="nav-link" href="/logout">Cerrar
							sesion</a>
					</li>
			</div>
			</li>
			</ul>
			</div>
		</nav>
		<div class="alert alert-warning alert-dismissable"
			th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-success alert-dismissable" th:if="${success != null}">
					<label th:text="${success}"></label>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
				<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
					<label th:text="${error}"></label>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
	</header>

	<div class="container">
		<h1 th:text="${titulo}"></h1>

	</div>

	<div class="container">

		<a class="btn btn-primary btn-sm"
			sec:authorize="hasAuthority('Administrador')" th:href="@{/especialidad/}"
			th:text="'Crear Especialidad'" title="Crear nueva especialidad"> </a>


		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nombre de la especialidad</th>
					<th scope="col" sec:authorize="hasAuthority('Administrador')">Editar</th>
					<th scope="col" sec:authorize="hasAuthority('Administrador')">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-info" th:each="li:${lista}">

					<th scope="row" th:text="${li.nombre}"></th>

					<td sec:authorize="hasAuthority('Administrador')"><a
						class="btn btn-success btn-sm"
						th:href="@{/especialidad/lista/edit/}+${li.idEspecialidad}" th:text="Editar"
						title="Editar especialidad"> </a></td>
					<td sec:authorize="hasAuthority('Administrador')"><a
						class="btn btn-danger btn-sm"
						th:href="@{/especialidad/lista/delete/}+${li.idEspecialidad}" th:text="Eliminar"
						title="Eliminar especialidad"
						onclick="return confirm('Esta seguro de eliminar la especialidad?');">
					</a></td>
				</tr>

			</tbody>
		</table>

	</div>


	<footer th:fragment="footer"
		class="bg-info text-center text-white fixed-bottom">
		<div class="container">
			<p>Consultorio</p>
		</div>

		<script type="text/javascript"
			th:src="@{vendor/bootstrap/jquery/jquery.slim.min.js}"></script>
		<script type="text/javascript"
			th:src="@{vendor/bootstrap/js/popper.min.js}"></script>
		<script type="text/javascript"
			th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
	</footer>

</body>

</html>